stages:
  - verify
  - deploy

include:
  - project: 'acquiring/devops/pipelines'
    ref: master
    file: '.appsec.yml'

variables:
  VERSION: 1.1.$CI_PIPELINE_IID
  APP_NAME: ecom-sdk-javascript

push:
  stage: deploy
  image: artifactory.raiffeisen.ru/ecom-image-docker/cli-tools:$CLI_TOOLS_TAG
  script:
    - git config --global user.email $OPEN_SOURCE_GITHUB_EMAIL
    - git config --global user.name $OPEN_SOURCE_GITHUB_LOGIN
    - git config --global http.proxy http://sys-proxy.raiffeisen.ru:8080
    - npm version $VERSION
    - git push https://$OPEN_SOURCE_GITHUB_LOGIN:$OPEN_SOURCE_GITHUB_TOKEN@github.com/Raiffeisen-DGTL/$APP_NAME.git HEAD:master --force
  only:
    - master
