.button {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 13px 23px;
    text-align: center;
    border-radius: 1px;
    outline: 0px;
    border-width: 1px;
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    width: 200px;
    font-family: Helvetica, Arial, sans-serif;

    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.button.active {
    background-color: rgb(255, 237, 0);
    border-color: rgb(255, 237, 0);
}

.button.active:hover {
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
}

.button:hover {
    border-color: rgb(0, 0, 0);
}
