.confirm-panel {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}

.button-wrap {
    text-align: center;
}

.button-wrap > button + button {
    margin-left: 10px;
}

.label {
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

@media (max-width: 450px) {
    .button-wrap > button + button {
        margin-left: 0;
        margin-top: 10px;
    }

    .button-wrap {
        margin: 0 40px;
    }
}
