.cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 654px;
    max-width: 100%;
    height: 637px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.cross {
    width: 39px;
    height: 39px;
    right: 17px;
    top: 17px;
    color: #fff;
    position: fixed;
    font-size: 2rem;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    z-index: 101;
}

.cross svg:hover {
    fill: #AAABAD;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.iframe-wrap {
    flex: 1;
}

@media (max-width: 450px) {
    .wrap {
        height: 100%;
    }

    .inner {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
    }

    .cross {
        top: 24px;
        color: rgb(102, 102, 102);
        position: absolute;
        font-size: 1.5rem;
        transform: translate(0, -50%);
    }
}
