.cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.wrap {
    position: absolute;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 654px;
    max-width: 100%;
    height: 637px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.cross {
    right: 27px;
    width: 28px;
    height: 28px;
    text-align: center;
    top: 27px;
    color: #fff;
    position: fixed;
    font-size: 2rem;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    z-index: 101;
}

.cross:hover svg {
    fill: #AAABAD;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.iframe-wrap {
    flex: 1;
    overflow-y: hidden;
}

@media (max-width: 450px) {
    .wrap {
        height: 100%;
    }

    .inner {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
    }

    .cross {
        right: 16px;
        top: 22px;
        color: rgb(102, 102, 102);
        position: absolute;
        font-size: 1.5rem;
        transform: translate(0, -50%);
    }

    .cross svg {
        fill: #2B2D33;
        width: 16px;
        height: 16px;
    }

    .cross:hover svg {
        fill: #AAABAD;
    }
}
